mixin course-inside__benefits__item(heading, question, answer)
  .course-inside__benefits__item
    h3.course-inside__benefits__heading= heading
    p.course-inside__benefits__question= question
    p.course-inside__benefits__answer= answer

mixin course-inside__project(imgPath, imgAlt, title)
  .course-inside__project.col-xs-6
    .course-inside__project__img
      img(src="#{imgPath}", alt="#{imgAlt}", target="_blank")
    .course-inside__project__title= title
    .course-inside__project__subtitle Посадочная страница
    a.course-inside__project__button Смотреть работу
